<template>
  <div class="home">
    <button @click="initDB">Init DB</button>
    <ul>
      <li v-for="project in projects" :key="project.id">
        <router-link :to="'/project/' + project.id">{{
          project.name
        }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import * as server from "@/database/Server";
import { Project } from "@/database/Models";

@Component
export default class Home extends Vue {
  created() {
    this.$store.dispatch("loadProjects").then((projects) => {
      console.log(this.projects);
    });
  }

  get projects(): Array<Project> {
    return this.$store.state.projects;
  }

  initDB() {
    this.$store.dispatch("initDB");
  }
}
</script>
