<template>
  <div class="home">
    <div class="flex one">
      <button @click="creating = true">Add story</button>
    </div>
    <div class="flex one">
      <div class="flex one" v-if="creating">
        <div class="flex one">
          <StoryCard :story="{}" :editing="true" @updated="save"></StoryCard>
        </div>
      </div>
      <div v-for="story in stories" :key="story.id" class="flex one">
        <StoryCard :story="story"></StoryCard>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import * as server from "@/database/Server";
import { Story } from "@//database/Models";
import StoryCard from "@/components/StoryCard.vue";

@Component({
  components: {
    StoryCard
  }
})
export default class StoriesView extends Vue {
  @Prop() private id!: string;

  public creating = false;

  created() {
    this.$store
      .dispatch("loadProjectStories", { id: this.id })
      .then(stories => {
        console.log(this.stories);
      });
  }

  save(story: Story) {
    console.log("Called by save in child component.");
    console.log(story);
    this.$store.dispatch("addStory", { story: story });
    this.creating = false;
  }

  get stories(): Array<Story> {
    return this.$store.state.stories;
  }
}
</script>
