<template>
  <div>
    <div class="flex one">
      #{{ story.id }}
      <input v-model="story.name" class="title" />
    </div>
    <div class="flex one" v-if="editing">
      <button @click="save">Save</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Emit, Component, Prop, Vue } from "vue-property-decorator";
import { Story } from "@/database/Models";

@Component
export default class StoryCard extends Vue {
  @Prop() private story!: Story;
  @Prop() private editing!: boolean;

  @Emit("updated")
  save() {
    return this.story;
  }
}
</script>

<style scoped>
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eee;
  padding-top: 3px;
  padding-bottom: 3px;
}

.header {
  margin-top: 5px;
  margin-bottom: 5px;
}

.title {
  width: 75%;
}
</style>
