<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import VueRouter from "vue-router";

Vue.use(VueRouter);

@Component
export default class App extends Vue {}
</script>

<style lang="scss">
</style>
